*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    background: none;
}

header{
    width: 100%;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

nav{
    display: flex;
    
}

.account-buttons{
    display: flex;
}